PORT=5000
MONGO_URI=mongodb+srv://mashhod:m76792281@cluster0.ovkgmrt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=7d30a815921d6b35cce764f7be28cd3554a5f5998126811bddd11f752c3382f8
CLOUDINARY_CLOUD_NAME=dstfyrohn
CLOUDINARY_API_KEY=489592382889354
CLOUDINARY_API_SECRET=duoKXyOn43mpUUFanza-DVpmbNU
GEMINI_API_KEY=AIzaSyB8EZBZ6QYOHv_v15sRv6AZsLXzXWoBN2k  # jab real integrate karna ho
FRONTEND_URL=http://localhost:3000
